@{
    /**/

    ViewBag.Title = "Home Page";
}
@using RedisWeb.Models
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@{
    if (ViewBag.Data != null)
    {
        foreach (var item in (ViewBag.Data as IEnumerable<Blog>))
        {
            <div class="row">
                <div class="col-md-4">
                    <p>
                        @item.Title
                    </p>
                </div>
                <div class="col-md-4">
                    <p>@item.Content </p>
                </div>
                <div class="col-md-4">
                    <p>@item.CreateTime</p>
                </div>
            </div>

        }
    } }



